<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pomodoro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pomodoro</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
      <img src="../../assets/tomato.png" alt="Tomato image" class="image" (click)="pomodoro()" (contextmenu)="stopTimer($event)">

      
  </div>

  <ng-template [ngIf]="!(currentMinutes || currentSeconds)" [ngIfElse]="countdown">
    <div class="time" (click)="openPicker()">{{timer}} minutes</div>
  </ng-template>

  <ng-template #countdown>
    <div class="time">{{currentMinutes}}:{{currentSeconds}}</div>
  </ng-template>
</ion-content>
